/OrbintSoft.Yauaa.NetStandard/.vs
/OrbintSoft.Yauaa.NetStandard/OrbintSoft.Yauaa.NetStandard/bin
/OrbintSoft.Yauaa.NetStandard/OrbintSoft.Yauaa.NetStandard/obj
/OrbintSoft.Yauaa.NetStandard/.localhistory
/OrbintSoft.Yauaa.NetStandard/OrbintSoft.Yauaa.NetStandard.Analyzer.Test/bin
/OrbintSoft.Yauaa.NetStandard/OrbintSoft.Yauaa.NetStandard.Analyzer.Test/obj
/OrbintSoft.Yauaa.NetStandard/OrbintSoft.Yauaa.NetCore.Benchmarks/obj
/OrbintSoft.Yauaa.NetStandard/OrbintSoft.Yauaa.NetCore.Benchmarks/bin
/OrbintSoft.Yauaa.NetStandard/OrbintSoft.Yauaa.NetCore.Analyzer.Test/bin
/OrbintSoft.Yauaa.NetStandard/OrbintSoft.Yauaa.NetCore.Analyzer.Test/obj
/OrbintSoft.Yauaa.NetStandard/OrbintSoft.Yauaa.Commandline.NetCore/bin
/OrbintSoft.Yauaa.NetStandard/OrbintSoft.Yauaa.Commandline.NetCore/obj
