/OrbintSoft.Yauaa.NetStandard/.vs
/OrbintSoft.Yauaa.NetStandard/OrbintSoft.Yauaa.NetStandard/bin
/OrbintSoft.Yauaa.NetStandard/OrbintSoft.Yauaa.NetStandard/obj
/OrbintSoft.Yauaa.NetStandard/.localhistory
/OrbintSoft.Yauaa.NetStandard/OrbintSoft.Yauaa.NetStandard.Analyzer.Test/bin
/OrbintSoft.Yauaa.NetStandard/OrbintSoft.Yauaa.NetStandard.Analyzer.Test/obj
