/src/.vs
/src/OrbintSoft.Yauaa.NetStandard/bin
/src/OrbintSoft.Yauaa.NetStandard/obj
/src/.localhistory
/src/OrbintSoft.Yauaa.NetStandard.Analyzer.Test/bin
/src/OrbintSoft.Yauaa.NetStandard.Analyzer.Test/obj
/src/OrbintSoft.Yauaa.NetCore.Benchmarks/obj
/src/OrbintSoft.Yauaa.NetCore.Benchmarks/bin
/src/OrbintSoft.Yauaa.NetCore.Analyzer.Test/bin
/src/OrbintSoft.Yauaa.NetCore.Analyzer.Test/obj
/src/OrbintSoft.Yauaa.Commandline.NetCore/bin
/src/OrbintSoft.Yauaa.Commandline.NetCore/obj
/src/OrbintSoft.Yauaa.Benchmarking.NetCore/bin
/src/OrbintSoft.Yauaa.Benchmarking.NetCore/obj
/src/OrbintSoft.Yauaa.Testing.NetCore/bin
/src/OrbintSoft.Yauaa.Testing.NetCore/obj
/src/OrbintSoft.Yauaa.WebSample.AspNetCore/bin
/src/OrbintSoft.Yauaa.WebSample.AspNetCore/obj
/src/OrbintSoft.Yauaa.WebSample.AspNetCore/wwwroot/lib
/src/OrbintSoft.Yauaa.WebSample.AspNetCore/publicsuffix.txt
/src/OrbintSoft.Yauaa.WebSample.AspNetCore/*.user
