<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Stefano Balzarotti" />
    <meta name="copyright" content="OrbintSoft" />

    <title>@ViewData["Title"] - Sample Yauaa ASP.NET MVC Core Application</title>

    <link href="~/favicon.ico" rel="icon" />
    <link type="text/plain" rel="author" href="~/humans.txt" />

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap-grid.css" />
        <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap-reboot.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap-grid.min.css" />
        <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap-reboot.min.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    @RenderSection("Stylesheets", required: false)
    <environment include="Development">
        <script src="~/lib/debug/dist/debug.js" defer></script>
        <script src="~/lib/jquery/jquery.js" defer></script>
        <script src="~/lib/jquery-validate/jquery.validate.js" defer></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js" defer></script>
        <script src="~/lib/popper.js/popper.js" defer></script>
        <script src="~/lib/twitter-bootstrap/js/bootstrap.js" defer></script>
        <script src="~/lib/jquery-loading-overlay/loadingoverlay.js" defer></script>
        <script src="~/js/site.js" asp-append-version="true" defer></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/debug/dist/debug.min.js" defer></script>
        <script src="~/lib/jquery/jquery.min.js" defer></script>
        <script src="~/lib/jquery-validate/jquery.validate.min.js" defer></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js" defer></script>
        <script src="~/lib/popper.js/popper.min.js" defer></script>
        <script src="~/lib/twitter-bootstrap/js/bootstrap.min.js" defer></script>
        <script src="~/lib/jquery-loading-overlay/loadingoverlay.min.js" defer></script>
        <script src="~/js/site.min.js" asp-append-version="true" defer></script>
    </environment>
    @RenderSection("Scripts", required: false)
</head>
<body>
    <div class="d-flex flex-column main-wrapper">
        <header class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-blue border-bottom box-shadow">
            <h5 class="my-0 mr-md-auto font-weight-normal">
                <a href="~/" target="_self">
                    <img src="~/images/icon.png" alt="Logo" style="width:40px" />
                </a>
            </h5>
            <nav class="my-2 my-md-0 mr-md-3">
                <a class="p-2 text-dark" href="#"></a>                
            </nav>
            <div class="dropdown">
            </div>
        </header>
        <main class="bd-masthead flex-fill" id="content" role="main">
            <div class="container">
                @RenderBody()
            </div>
        </main>
        <div class="bd-footer">
            <footer class="bd-footer">
                <div class="container-fluid p-3 p-md-5">
                    <p>&copy; OrbintSoft 2018 - Realized by Stefano Balzarotti</p>
                </div>
            </footer>
        </div>
    </div>
</body>
</html>
