@{
    ViewData["Title"] = "Yauaa";
}

<h1>Yauaa: Yet Another User Agent Analyzer</h1>
<article>
    <p localize>
        This is a .NET standard library that tries to parse and analyze the user agent string and extract as many relevant attributes as possible.
    </p>
    <ul>
        <li>
            <a href="https://github.com/OrbintSoft/yauaa.netstandard">GitHub</a>
        </li>
        <li>
            <a href="https://www.nuget.org/packages/Orbintsoft.Yauaa.NetStandard/">NuGet</a>
        </li>
        <li>
            <a href="~/Home/Demo" localize>
                Demo
            </a>
        </li>
        <li>
            <a href="~/Home/Guide" localize>
                Introduction guide
            </a>
        </li>
        <li>
            <a href="~/Home/Sample" localize>
                Web API sample
            </a>
        </li>
        @*<li>
               <a href="~/Projects/Yauaa/Tutorial">@localizer["Tutorial"]</a>
        </li>*@
    </ul>
</article>