.bg-blue {
    background-color: #A1CAF1;
    background: linear-gradient(to bottom, #a7c7dc 0%,#85b2d3 100%);
}

body {
    background-color: #ffffff;
    background-image: url("../images/background.svg");
}

.container {
    background-color: white;
    padding: 2em;
}

.row-striped:nth-child(even) {
    background-color: #DDDDDD;
}

ul {
    padding-left: 20px;
}

.bd-footer {
    background-color: #AAAAAA;
    color: black;
}

body, .main-wrapper {
    min-height: 100vh;
}

hr {
    page-break-before: avoid;
    page-break-after: auto;
}

article {
    page-break-before: auto;
    page-break-after: auto;
}

@page {
    @bottom-right {
        content: counter(page) "/" counter(pages);
    }
}
